.scroll-up {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-white;
	box-shadow: 0px 0px 10px 2px rgba(127,29,75,0.4);
	border-radius: 50%;
	color: #fff;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
	transform: translateY(20px);
	user-select: none;
	bottom: microbe-rem(8);
	left: microbe-rem(8);
	height: microbe-rem(36);
	width: microbe-rem(36);
	z-index: 3;

	&.is-show {
		opacity: .8;
		visibility: visible;
		transform: translateY(0);
	}

	svg {
		transform: rotate(-90deg);
	}

	&__text {
		display: none;
	}
}
