.award {
	$this: &;

	text-align: center;

	&__img {
		max-width: microbe-rem(199);
		width: 100%;
		height: auto;
		margin: 0 auto microbe-rem(10);

		@include microbe-media($screen-vw) {
			max-width: vw(399);
			margin: 0 auto vw(10);
		}
	}

	&__img-inner {
		padding-bottom: calc(147 / 199 * 100%);
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		color: $color-black;
		font-size: microbe-rem(16);
		font-weight: $font-weight-bold;
		line-height: microbe-em(30, 16);
		margin-bottom: microbe-rem(2);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
			margin-bottom: vw(2);
		}
	}

	&__text {
		font-size: microbe-rem(16);
		line-height: microbe-em(20, 16);
		color: rgba($color-black, 0.4);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}

		p {
			margin: 0;
		}
	}
}
