.benefits {
	$this: &;

	&__title {
		font-weight: $font-weight-medium;
		color: $color-white;
		font-size: microbe-rem(54);
		line-height: microbe-em(119, 100);
		text-align: center;
		max-width: microbe-rem(487);

		@include microbe-media($breakpoint-df) {
			text-align: left;
			max-width: none;
		}

		@include microbe-media($screen-vw) {
			font-size: vw(100);
		}

		& + #{$this}__description {
			margin-top: microbe-rem(35);

			@include microbe-media($screen-vw) {
				margin-top: vw(48);
			}
		}

		span {
			position: relative;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -43%);
				background-image: url("data:image/svg+xml,%3Csvg width='141' fill='%23FFD500' height='140' viewBox='0 0 141 140' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.2886 121.5C28.1405 121.573 25.9218 120.837 24.2326 119.229C20.8126 116.057 20.631 110.725 23.8272 107.328L42.6322 87.386C45.8284 83.989 51.1986 83.8063 54.6186 86.9783C58.0386 90.1503 58.2202 95.4822 55.024 98.8792L36.2205 118.864C34.6002 120.542 32.4797 121.426 30.2886 121.5ZM92.469 55.4131C90.3209 55.4862 88.1022 54.7503 86.413 53.1422C82.993 49.9703 82.8114 44.6383 86.0076 41.2413L104.811 21.2564C108.007 17.8595 113.378 17.6768 116.798 20.8488C120.218 24.0207 120.399 29.3527 117.203 32.7497L98.3994 52.7346C96.7806 54.4551 94.6601 55.3386 92.469 55.4131Z' /%3E%3Cpath d='M115.181 118.613C113.033 118.686 110.815 117.95 109.125 116.342L89.0053 97.681C85.5854 94.5091 85.4037 89.1772 88.5999 85.7802C91.7961 82.3832 97.1664 82.2006 100.586 85.3725L120.706 104.033C124.126 107.205 124.308 112.537 121.112 115.934C119.493 117.655 117.33 118.54 115.181 118.613ZM48.6474 56.9041C46.4993 56.9771 44.2806 56.2412 42.5914 54.6332L22.4283 35.9737C19.0083 32.8017 18.8267 27.4698 22.0229 24.0728C25.2191 20.6758 30.5893 20.4932 34.0093 23.6651L54.1309 42.3687C57.5509 45.5407 57.7325 50.8726 54.5363 54.2696C52.916 55.9475 50.7955 56.831 48.6474 56.9041Z' /%3E%3Cpath d='M115.181 118.613C113.033 118.686 110.815 117.95 109.125 116.342L89.0053 97.681C85.5854 94.5091 85.4037 89.1772 88.5999 85.7802C91.7961 82.3832 97.1664 82.2006 100.586 85.3725L120.706 104.033C124.126 107.205 124.308 112.537 121.112 115.934C119.493 117.655 117.33 118.54 115.181 118.613ZM48.6474 56.9041C46.4993 56.9771 44.2806 56.2412 42.5914 54.6332L22.4283 35.9737C19.0083 32.8017 18.8267 27.4698 22.0229 24.0728C25.2191 20.6758 30.5893 20.4932 34.0093 23.6651L54.1309 42.3687C57.5509 45.5407 57.7325 50.8726 54.5363 54.2696C52.916 55.9475 50.7955 56.831 48.6474 56.9041Z' /%3E%3Cpath d='M129.804 75.9613L102.271 76.894C97.5885 77.0526 93.6808 73.4325 93.5226 68.7898C93.3644 64.1472 97.0167 60.2709 101.699 60.1123L129.233 59.1795C133.915 59.0209 137.822 62.6411 137.981 67.2837C138.139 71.9264 134.486 75.8027 129.804 75.9613ZM38.8266 79.0433L11.2927 79.976C6.61068 80.1346 2.70152 76.4719 2.5448 71.8718C2.38808 67.2718 6.03893 63.3529 10.721 63.1943L38.2549 62.2615C42.9369 62.1029 46.8446 65.7231 47.0028 70.3657C47.161 75.0084 43.4657 78.8861 38.8266 79.0433Z' /%3E%3Cpath d='M73.3303 137.525C68.6411 137.684 64.7274 134.058 64.569 129.407L63.6371 102.055C63.4787 97.4043 67.1365 93.5211 71.8257 93.3622C76.5149 93.2033 80.4286 96.8299 80.587 101.481L81.5188 128.832C81.6773 133.483 78.0195 137.366 73.3303 137.525ZM70.2514 47.1509C65.5622 47.3098 61.6485 43.6831 61.4901 39.0321L60.5582 11.6808C60.3998 7.02984 64.0576 3.14662 68.7468 2.98772C73.436 2.82881 77.3497 6.45546 77.5081 11.1065L78.4399 38.4577C78.5969 43.0661 74.9405 46.992 70.2514 47.1509Z' /%3E%3Cpath d='M73.3303 137.525C68.6411 137.684 64.7274 134.058 64.569 129.407L63.6371 102.055C63.4787 97.4043 67.1365 93.5211 71.8257 93.3622C76.5149 93.2033 80.4286 96.8299 80.587 101.481L81.5188 128.832C81.6773 133.483 78.0195 137.366 73.3303 137.525ZM70.2514 47.1509C65.5622 47.3098 61.6485 43.6831 61.4901 39.0321L60.5582 11.6808C60.3998 7.02984 64.0576 3.14662 68.7468 2.98772C73.436 2.82881 77.3497 6.45546 77.5081 11.1065L78.4399 38.4577C78.5969 43.0661 74.9405 46.992 70.2514 47.1509Z' /%3E%3C/svg%3E%0A");
				width: microbe-rem(75);
				height: microbe-rem(75);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				z-index: -1;

				@include microbe-media($breakpoint-md) {
					width: microbe-rem(100);
					height: microbe-rem(100);
				}

				@include microbe-media($screen-vw) {
					width: vw(135);
					height: vw(135);
				}
			}
		}
	}

	&__description {
		font-size: microbe-rem(16);
		line-height: 1.9em;
		color: rgba($color-white, .6);
		max-width: microbe-rem(487);

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include microbe-media($screen-vw) {
			font-size: vw(18);
			max-width: vw(487);
		}
	}

	&:not(.is-in-view) {
		.benefit__title,
		.benefit__icon,
		.benefit__decor {
			animation: none !important; // sass-lint:disable-line no-important
		}
	}
}

.benefit {
	$this: &;
	padding: microbe-rem(30) microbe-rem(10);

	@include microbe-media($breakpoint-md) {
		padding: microbe-rem(30) microbe-rem(20);
	}

	@include microbe-media($screen-vw) {
		padding: vw(65) vw(35) vw(53) vw(20);
	}

	&__content {
		display: flex;
		align-items: safe center;
		justify-content: space-between;
	}

	&__title {
		margin-right: microbe-rem(20);
		line-height: microbe-em(38, 22);
		font-size: microbe-rem(16);
		color: $color-white;
		flex-grow: 1;
		opacity: 0;
		transform: scale(0);

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(18);
		}

		@include microbe-media($breakpoint-df) {
			font-size: microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(22);
			margin-right: vw(30);
		}
	}

	&__icon-wrapper {
		position: relative;
	}

	&__decor {
		content: none;
		position: absolute;
		height: 0;
		max-height: microbe-rem(35);
		left: 50%;
		transform: translateX(-50%);
		border-left: 1px solid rgba($color-white, .2);

		@include microbe-media($screen-vw) {
			max-height: vw(74);
		}

		&--prev {
			top: microbe-rem(-48);

			@include microbe-media($screen-vw) {
				top: vw(-104);
			}
		}

		&--next {
			content: '';
			top: calc(100% + #{microbe-rem(20)});

			@include microbe-media($screen-vw) {
				top: calc(100% + #{vw(40)});
			}
		}
	}

	&__icon {
		flex-shrink: 0;
		position: relative;
		display: flex;
		align-items: safe center;
		opacity: 0;

		svg {
			width: microbe-rem(40);
			height: microbe-rem(40);
			fill: $color-accent;

			@include microbe-media($screen-vw) {
				width: vw(55);
				height: vw(52);
			}
		}
	}
}
