.blockquote {
	$this: &;

	padding-left: microbe-rem(25);
	border-left: microbe-rem(5) solid $color-accent;

	@include microbe-media($screen-vw) {
		padding-left: microbe-rem(47);
		border-left: vw(10) solid $color-accent;
	}

	&__text {
		font-size: microbe-rem(16);
		line-height: microbe-em(54, 32);

		@include microbe-media($screen-vw) {
			font-size: vw(32);
		}
	}
}
