.blog-card {
	$this: &;

	border-radius: 0 0 microbe-rem(10) microbe-rem(10);
	margin-bottom: microbe-rem(5);

	@include microbe-media($screen-vw) {
		border-radius: 0 0 vw(10) vw(10);
		margin-bottom: vw(5);
	}

	&--theme-slider {
		margin-bottom: microbe-rem(15);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(25);
		}
	}

	&--size-lg {
		height: 100%;
		position: relative;
		padding-bottom: 53.33%;
		overflow: hidden;
		min-height: microbe-rem(250);
		transition: box-shadow .2s ease;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-black, .5);
			z-index: 1;
		}

		@media (hover: hover) {
			&:hover {
				box-shadow: 0 microbe-rem(4) microbe-rem(4) rgba($color-black, .25);

				@include microbe-media($screen-vw) {
					box-shadow: 0 vw(4) vw(4) rgba($color-black, .25);
				}

				#{$this}__title {
					color: $color-accent;
				}

				#{$this}__image {
					img {
						transform: scale(1.1);
					}
				}
			}
			&:active {
				#{$this}__title {
					color: $color-accent-darker;
				}

				#{$this}__image {
					img {
						transform: scale(1.1);
					}
				}
			}
		}

		#{$this}__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				max-width: initial;
				object-fit: cover;
				transition: transform .2s ease;
			}
		}

		#{$this}__main {
			position: absolute;
			height: 100%;
			display: flex;
			align-items: safe flex-end;
			left: 0;
			bottom: 0;
			z-index: 1;
			width: 100%;
			text-decoration: none;
			padding: microbe-rem(14) microbe-rem(23);

			@include microbe-media($screen-vw) {
				padding: vw(10) vw(20);
			}
		}

		#{$this}__content {
			position: relative;
			z-index: 2;
		}

		#{$this}__title {
			width: 100%;
			display: block;
			padding: 0 microbe-rem(6);
			font-size: microbe-rem(18);
			line-height: microbe-em(28, 22);
			color: $color-white;
			margin-bottom: microbe-rem(15);

			@include microbe-media($breakpoint-md) {
				font-size: microbe-rem(20);
			}

			@include microbe-media($screen-vw) {
				padding: 0 vw(3);
				font-size: vw(22);
				margin-bottom: vw(31);
			}
		}

		#{$this}__published {
			width: 100%;
			display: flex;
			align-items: safe center;
			color: $color-light;
			font-size: microbe-rem(12);
			line-height: microbe-em(16, 12);

			@include microbe-media($screen-vw) {
				font-size: vw(12);
			}

			svg {
				width: microbe-rem(22);
				height: microbe-rem(22);
				fill: currentColor;
				margin-right: microbe-rem(11);

				@include microbe-media($screen-vw) {
					width: vw(28);
					height: vw(28);
					margin-right: vw(11);
				}
			}
		}

		#{$this}__tags {
			position: absolute;
			pointer-events: none;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
			padding: microbe-rem(10) microbe-rem(15);
			display: flex;

			@include microbe-media($screen-vw) {
				padding: vw(31) vw(27);
			}
		}
	}

	&--size-sm {
		background-color: $color-white;
		height: 100%;
		transition: box-shadow .2s ease;

		@media (hover: hover) {
			&:hover {
				box-shadow: 0 microbe-rem(16) microbe-rem(16) rgba(50, 50, 71, .08);

				@include microbe-media($screen-vw) {
					box-shadow: 0 vw(16) vw(16) rgba(50, 50, 71, .08);
				}
			}
		}

		#{$this}__published {
			color: $color-grey-2;
			border-top: 1px solid rgba($color-grey-3, .6);
			padding: microbe-rem(15.5) microbe-rem(15) microbe-rem(10);

			@include microbe-media($screen-vw) {
				padding: vw(15.5) vw(20) vw(10);
			}
		}

		#{$this}__image {
			display: flex;
			object-fit: cover;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			justify-content: center;

			img {
				width: 100%;
				height: 100%;
				max-width: initial;
				object-fit: cover;
			}
		}

		#{$this}__image-container {
			position: relative;
			padding-bottom: 68.39%;
		}

		#{$this}__tags {
			padding: microbe-rem(10);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			pointer-events: none;

			@include microbe-media($screen-vw) {
				padding: vw(31) vw(25);
			}
		}

		#{$this}__title {
			text-decoration: none;
			font-size: microbe-rem(15);
			line-height: microbe-em(22, 17);
			color: $color-black;
			transition: color .2s ease;
			margin: microbe-rem(15) 0 microbe-rem(10);
			padding: 0 microbe-rem(15);
			overflow: hidden;
			height: microbe-em(66, 17);
			display: block;
			width: 100%;

			@include microbe-media($breakpoint-md) {
				padding: 0 microbe-rem(22) 0 microbe-rem(27);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(17);
				margin: vw(18) 0 vw(14);
				padding: 0 vw(22) 0 vw(24);
			}

			@media (hover: hover) {
				&:hover {
					color: $color-accent;
				}

				&:active {
					color: $color-accent-darker;
				}
			}
		}

		#{$this}__main {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		#{$this}__content {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__tag {
		pointer-events: all;
		display: inline-flex;
		line-height: microbe-em(40, 14);
		font-size: microbe-rem(12);
		padding: 0 microbe-rem(16.5);
		border-radius: microbe-rem(70);
		color: #F7F9F9;
		text-decoration: none;
		transition: background-color .2s ease, color .2s ease;
		background-color: rgba($color-accent, .6);
		margin: 0 microbe-rem(8) microbe-rem(8) 0;

		@include microbe-media($screen-vw) {
			font-size: vw(14);
			padding: 0 vw(16.5);
			border-radius: vw(70);
			margin: 0 vw(11) vw(11) 0;
		}

		@media (hover: hover) {
			&:hover {
				background-color: $color-accent;
				color: $color-white;
			}

			&:active {
				background-color: $color-accent-darker;
				color: $color-white;
			}
		}
	}

	&__published {
		width: 100%;
		display: flex;
		align-items: safe center;
		font-size: microbe-rem(12);
		line-height: microbe-em(16, 12);

		@include microbe-media($screen-vw) {
			font-size: vw(12);
		}

		svg {
			width: microbe-rem(22);
			height: microbe-rem(22);
			fill: currentColor;
			margin-right: microbe-rem(11);

			@include microbe-media($screen-vw) {
				width: vw(28);
				height: vw(28);
				margin-right: vw(11);
			}
		}
	}
}
