.blog-item {
	$this: &;

	height: 100%;

	&__body {
		padding: microbe-rem(15) microbe-rem(24) 0;
		display: flex;
		flex-direction: column;

		@include microbe-media($screen-vw) {
			padding: vw(15) vw(24) 0;
		}

		@media(max-width: $breakpoint-df) {
			padding: microbe-rem(15) microbe-rem(10) 0;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: microbe-rem(250);

		@media(max-width: $breakpoint-df) {
			height: microbe-rem(200);
		}

		@media(max-width: $breakpoint-xs) {
			height: microbe-rem(175);
		}

		@include microbe-media($screen-vw) {
			height: vw(250);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		display: block;
		font-size: microbe-rem(17);
		color: $color-black;
		font-weight: 400;
		line-height: 1.3;
		text-decoration: none;
		height: microbe-rem(64);
		overflow: hidden;

		@media(max-width: $breakpoint-df) {
			font-size: microbe-rem(15);
		}

		@media(max-width: $breakpoint-xs) {
			font-size: microbe-rem(12);
		}
	}

	&--theme-white {
		background-color: $color-white;
		border-radius: 0 0 microbe-rem(10) microbe-rem(10);
		overflow: hidden;

		@include microbe-media($screen-vw) {
			border-radius: 0 0 vw(10) vw(10);
		}

		#{$this}__body {
			padding: microbe-rem(15) microbe-rem(24) microbe-rem(10);

			@include microbe-media($screen-vw) {
				padding: vw(15) vw(24) vw(13);
			}

			@media(max-width: $breakpoint-df) {
				padding: microbe-rem(15) microbe-rem(10) microbe-rem(10);
			}
		}
	}

	.date-block {
		border-top: 1px solid rgba($color-grey-3, 0.6);
	}
}
