$time: 200ms;

//
// @group _blocks/button
//

$time: 300ms;

.button {
	$this: &;

	outline: none;
	border: 1px solid transparent;
	font-family: $font-family-default;
	cursor: pointer;
	background-color: $color-accent;
	color: $color-white;
	display: flex;
	justify-content: center;
	text-decoration: none;
	align-items: safe center;
	padding: 0;
	transition: color $time ease, opacity $time ease, background-color $time ease, box-shadow $time ease, border-color $time ease;

	&__icon {
		color: currentColor;
		display: flex;
		align-items: safe center;

		svg {
			fill: currentColor;
		}
	}

	&--color-accent {
		background-color: $color-accent;
		color: $color-white;

		@media (hover: hover) {
			&:hover {
				background-color: $color-accent-darker;
				color: $color-white;
			}

			&:active {
				background-color: rgba($color-accent-darker, .8);
				color: $color-white;
			}
		}
	}

	&--color-accent-2 {
		background-color: $color-accent-2;
		color: $color-white;

		@media (hover: hover) {
			&:hover {
				background-color: $color-accent-2-darker;
				color: $color-white;
			}

			&:active {
				background-color: rgba($color-accent-2-darker, .8);
				color: $color-white;
			}
		}
	}

	&--color-accent-3-light {
		background-color: transparent;
		color: rgba($color-white, .8);

		@media (hover: hover) {
			&:not(.is-active) {
				&:hover {
					border-color: rgba($color-white, .5);
					color: rgba($color-white, .8);
				}

				&:active {
					border-color: $color-accent-3;
					background-color: $color-accent-3;
					color: rgba($color-black, .8);
				}
			}
		}

		&.is-active {
			border-color: $color-accent-3;
			background-color: $color-accent-3;
			color: rgba($color-black, .8);
		}
	}

	&--color-accent-3 {
		background-color: transparent;
		color: $color-text-3;

		@media (hover: hover) {
			&:hover {
				border-color: $color-border;
			}

			&:active {
				border-color: $color-accent-3;
				background-color: $color-accent-3;
			}
		}
	}

	&--color-light {
		background-color: $color-light;
		color: $color-grey-dark;

		@media (hover: hover) {
			&:hover {
				background-color: $color-accent;
				color: $color-white;
			}

			&:active {
				background-color: rgba($color-accent-darker, .8);
				color: $color-white;
			}
		}
	}

	&--color-light-transparent {
		background-color: $color-accent;
		color: $color-white;

		@media (hover: hover) {
			&:hover {
				border-color: $color-accent-darker;
				background-color: transparent;
				color: $color-accent-darker;
			}

			&:active {
				background-color: rgba($color-accent-darker, .8);
				color: $color-white;
			}
		}
	}

	&--size-def {
		line-height: microbe-em(14, 12);
		border-radius: microbe-rem(32);
		padding: microbe-rem(14) microbe-rem(25);
		font-size: microbe-rem(10);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(12);
			padding: microbe-rem(22) microbe-rem(36);
		}

		@include microbe-media($screen-vw) {
			border-radius: vw(32);
			padding: vw(24) vw(40);
			font-size: vw(12);
		}
	}

	&--size-md {
		line-height: 1.4em;
		padding: microbe-rem(17) microbe-rem(22);
		border-radius: microbe-rem(72);
		font-size: microbe-rem(10);

		@include microbe-media($screen-vw) {
			padding: vw(17) vw(22);
			border-radius: vw(72);
			font-size: vw(10);
		}
	}

	&--size-smd {
		line-height: microbe-em(12, 10);
		padding: microbe-rem(16) microbe-rem(30);
		border-radius: microbe-rem(32);
		font-size: microbe-rem(10);

		@include microbe-media($screen-vw) {
			padding: vw(15) vw(39);
			border-radius: vw(32);
			font-size: vw(10);
		}
	}

	&--size-sm {
		line-height: microbe-em(17, 14);
		font-size: microbe-rem(12);
		padding: microbe-rem(8) microbe-rem(20);
		border-radius: microbe-rem(32);

		@include microbe-media($breakpoint-df) {
			padding: microbe-rem(11) microbe-rem(24);
			font-size: microbe-rem(14);
		}

		@include microbe-media($screen-vw) {
			border-radius: vw(32);
			font-size: vw(14);
			padding: vw(10) vw(24);
		}
	}

	&--theme-social {
		width: microbe-rem(26);
		height: microbe-rem(26);
		border-radius: 50%;
		color: $color-white;

		&-facebook {
			border: 2px solid #3b5998;
			background-color: #3b5998;
		}

		&-telegram {
			border: 2px solid #0088cc;
			background-color: #0088cc;
		}

		@include microbe-media($screen-vw) {
			width: vw(26);
			height: vw(26);
		}

		#{$this}__icon {
			svg {
				width: microbe-rem(14);
				height: microbe-rem(17);

				@include microbe-media($screen-vw) {
					width: vw(14);
					height: vw(17);
				}
			}
		}

		@media (hover: hover) {
			&:hover {
				background-color: $color-accent-darker;
				border-color: $color-accent-darker;
				color: $color-white;
			}

			&:active {
				border-color: $color-accent-darker;
				background-color: $color-accent-darker;
			}
		}
	}

	&--tab {
		background-color: transparent;
		color: $color-dark-two;

		&.is-active {
			background-color: $color-accent-3;
			cursor: default;
			border-color: transparent !important; // sass-lint:disable-line no-important
		}

		@media(hover:hover) {
			&:hover {
				border-color: $color-border;
			}
		}
	}

	&--link {
		background-color: transparent;
		color: $color-dark-two;
		border-color: $color-border;

		&.is-active {
			background-color: $color-accent-3;
			cursor: default;
			border-color: transparent !important; // sass-lint:disable-line no-important
		}

		@media(hover:hover) {
			&:hover {
				background-color: rgba($color-dark-two, 0.5);
				color: $color-white;
			}
		}
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--bold {
		font-weight: $font-weight-bold;
	}

	&--ls-def {
		letter-spacing: .16em;
	}

	&--ls-md {
		letter-spacing: .095em;
	}

	&--theme-up {
		position: fixed;
		right: microbe-rem(20);
		bottom: microbe-rem(120);
		width: microbe-rem(48);
		height: microbe-rem(48);
		border-radius: 50%;
		border: 1px solid rgba($color-text-4, 0.2);
		display: flex;
		align-items: safe center;
		justify-content: center;
		color: $color-text-4;
		background-color: $color-white;
		opacity: 0;
		pointer-events: none;
		z-index: 20;

		&.is-show {
			opacity: 1;
			pointer-events: all;
		}

		&.is-hidden {
			opacity: 0;
			pointer-events: none;
		}

		#{$this}__icon {
			fill: currentColor;
			width: microbe-rem(22);
			height: microbe-rem(12);

			@include microbe-media($breakpoint-df) {
				width: microbe-rem(26);
				height: microbe-rem(14);
			}

			@include microbe-media($screen-vw) {
				width: vw(26);
				height: vw(14);
			}
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
				border-color: $color-accent;
			}

			&:active {
				background-color: $color-accent;
				color: $color-white;
				border-color: $color-accent;
			}
		}

		@include microbe-media($breakpoint-df) {
			right: microbe-rem(55);
			bottom: microbe-rem(295);
			width: microbe-rem(64);
			height: microbe-rem(64);
		}

		@include microbe-media($screen-vw) {
			right: vw(55);
			bottom: vw(295);
			width: vw(64);
			height: vw(64);
		}
	}

	&--theme-pulse-animated {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
			width: 100%;
			height: 100%;
			border-radius: microbe-rem(72);
			background-color: $color-accent-2;
			opacity: 0;
			animation: pulse-button-bg .75s ease 3s infinite;
		}
	}

	&--theme-page-link {
		line-height: 1.4em;
		padding: microbe-rem(14) microbe-rem(32);
		border-radius: microbe-rem(72);
		font-size: microbe-rem(18);
		background-color: $color-light;
		color: $color-main;

		@include microbe-media($screen-vw) {
			padding: vw(14) vw(38);
			border-radius: vw(72);
			font-size: vw(18);
		}

		@media (hover: hover) {
			&:hover {
				background-color: $color-accent-darker;
				color: $color-white;
			}

			&:active {
				background-color: rgba($color-accent-darker, .8);
				color: $color-white;
			}
		}
	}
}
