.carousel-arrow {
	$this: &;

	width: microbe-rem(64);
	height: microbe-rem(64);
	border: 1px solid rgba($color-text-4, 0.2);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	pointer-events: all;
	transition: background-color 400ms ease, border-color 400ms ease;

	@include microbe-media($screen-vw) {
		width: vw(64);
		height: vw(64);
	}

	@media(hover:hover) {
		&:hover {
			border-color: $color-text-4;
		}
	}

	@media(max-width: 1024px) {
		width: microbe-rem(40);
		height: microbe-rem(40);
	}

	svg {
		width: microbe-rem(12);
		height: microbe-rem(24);
		fill: $color-text-4;

		@media(max-width: 1024px) {
			width: microbe-rem(8);
			height: microbe-rem(18);
		}

		@include microbe-media($screen-vw) {
			width: vw(12);
			height: vw(24);
		}
	}

	&.slick-disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}
