.contacts-block {
	$this: &;

	&--header {
		padding-top: microbe-rem(10);
		padding-left: microbe-rem(100);

		@include microbe-media($screen-vw) {
			padding-left: vw(100);
			padding-top: vw(10);
		}
	}

	&--footer {
		padding: 0 0 0 microbe-rem(10);
		display: flex;
		align-items: safe flex-start;

		#{$this}__hotline {
			flex-shrink: 0;
		}

		@include microbe-media($breakpoint-md) {
			padding: microbe-rem(10) 0 0 microbe-rem(10);
		}

		@include microbe-media($breakpoint-lg) {
			flex-direction: column;
			align-items: safe flex-start;
		}

		@include microbe-media($screen-vw) {
			padding: vw(10) 0 0 vw(45);
		}
	}
}
