.contact {
	$this: &;

	background-color: $color-white;
	border-radius: microbe-rem(10);
	overflow: hidden;

	&:not(:last-child) {
		margin-bottom: microbe-rem(18);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(18);
		}
	}

	&__head {
		padding: microbe-rem(32) microbe-rem(40) microbe-rem(23);
		border-bottom: 1px solid transparent;
		transition: border-color 500ms ease;

		@include microbe-media($screen-vw) {
			padding: vw(32) vw(40) vw(23);
		}

		.is-active & {
			border-color: rgba($color-black, 0.1);
		}
	}

	&__head-grid {
		display: grid;
		justify-content: space-between;
		grid-gap: 10px;

		@include microbe-media($breakpoint-xs) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include microbe-media($breakpoint-df) {
			grid-template-columns: repeat(4, 1fr);
		}

		@include microbe-media($screen-vw) {
			grid-gap: vw(20px);
			grid-template-columns: minmax(vw(250px), vw(295px)) minmax(vw(250px), vw(250px)) minmax(vw(220px), vw(260px)) minmax(vw(220px), vw(225px));
		}
	}

	&__body {
		padding: microbe-rem(18) microbe-rem(38) microbe-rem(33);
		display: grid;
		justify-content: space-between;
		grid-gap: 10px;

		@include microbe-media($screen-vw) {
			grid-gap: vw(20px);
			grid-template-columns: minmax(vw(320px), vw(400px)) minmax(vw(320px), vw(340px)) minmax(vw(250px), vw(285px));
			padding: vw(18) vw(38) vw(33);
		}
	}

	&__icon {
		fill: $color-accent;
		align-self: flex-start;
		flex-shrink: 0;
		margin-top: microbe-rem(5);
		margin-right: microbe-rem(10);
		width: microbe-rem(15);
		height: microbe-rem(20);

		@include microbe-media($screen-vw) {
			margin-top: vw(5);
			margin-right: vw(10);
			width: vw(15);
			height: vw(20);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		font-size: microbe-rem(16);
		line-height: microbe-em(30, 16);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}

		&--city {
			font-size: microbe-rem(22);
			font-weight: $font-weight-medium;
			line-height: microbe-em(31, 22);
			color: $color-dark;

			@include microbe-media($screen-vw) {
				font-size: vw(22);
			}
		}

		&--type {
			font-size: microbe-rem(12);
			line-height: microbe-em(22, 12);
			color: rgba($color-dark, 0.6);

			@include microbe-media($screen-vw) {
				font-size: vw(12);
			}
		}

		&--phone {
			font-weight: $font-weight-medium;
			font-size: microbe-rem(18);
			line-height: microbe-em(30, 18);

			@include microbe-media($screen-vw) {
				font-size: vw(18);
			}
		}

		&--email, &--phone {
			a {
				color: $color-black;
			}
		}

		&--schedule {
			font-size: microbe-rem(14);
			line-height: microbe-em(22, 14);
			color: rgba($color-dark, 0.6);
			align-items: flex-start;

			@include microbe-media($screen-vw) {
				font-size: vw(14);
			}

			p {
				margin: 0;
			}
		}

		&--location {
			svg {
				margin-right: microbe-rem(15px);

				@include microbe-media($screen-vw) {
					margin-right: vw(15px);
				}
			}
		}
	}

	&__block {
		&--inline {
			display: flex;
		}
	}

	&__title {
		color: $color-black;
		font-size: microbe-rem(15);
		font-weight: $font-weight-medium;
		line-height: microbe-em(26, 15);

		@include microbe-media($screen-vw) {
			font-size: vw(15);
		}

		p {
			margin: 0;
		}
	}

	&__content {
		max-width: 85%;
		color: rgba($color-dark, 0.6);
		font-size: microbe-rem(14);
		line-height: microbe-em(26, 14);

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}

		p {
			margin: 0;
		}

		img {
			width: microbe-rem(68);
			height: microbe-rem(68);
			border-radius: 50%;
			flex-shrink: 0;
			margin-right: microbe-rem(24);

			@include microbe-media($screen-vw) {
				width: vw(68);
				height: vw(68);
				margin-right: vw(24);
			}
		}
	}

	&__name {
		font-size: microbe-rem(14);
		line-height: microbe-em(17, 14);

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}
	}
}
