.copyright {
	$this: &;

	font-size: microbe-rem(14);
	line-height: microbe-em(18, 14);
	color: rgba($color-black, .3);
	text-align: center;

	@include microbe-media($breakpoint-df) {
		max-width: microbe-rem(300);
		text-align: left;
	}

	@include microbe-media($screen-vw) {
		font-size: vw(14);
		max-width: vw(280);
	}
}
