.counter {
	$this: &;

	.title {
		padding-bottom: microbe-rem(30);

		@include microbe-media($screen-vw) {
			padding-bottom: vw(30);
			margin-bottom: vw(15);
		}
	}

	&--lined {
		.title {
			border-bottom: 1px solid rgba($color-black, .1);
		}
	}
}
