.date-block {
	display: flex;
	align-items: center;
	color: $color-grey-2;
	font-size: microbe-rem(12);
	fill: $color-grey-2;

	@include microbe-media($screen-vw) {
		font-size: vw(12);
	}

	&__icon {
		flex-shrink: 0;
		width: microbe-rem(27);
		height: microbe-rem(27);

		@include microbe-media($screen-vw) {
			width: vw(27);
			height: vw(27);
		}
	}

	&__text {
		white-space: nowrap;
		margin-left: microbe-rem(13);

		@include microbe-media($screen-vw) {
			margin-left: vw(13);
		}
	}
}
