.heading-section {
	$this: &;

	background-size: cover;
	background-position: center;
	padding-top: calc(#{microbe-rem($header-size-mobile)} + #{microbe-rem(12)});
	min-height: microbe-rem(400);
	position: relative;

	@include microbe-media($screen-vw) {
		min-height: vw(700);
		padding-top: calc(#{vw($header-size-desktop)} + #{vw(20)});
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color-black, 0.2);
		z-index: 0;
		pointer-events: none;
	}

	.container {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
	}

	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: safe center;
		max-width: microbe-rem(750);
		margin: 0 auto;
		padding: microbe-rem(40) 0;

		.button__text {
			font-size: microbe-rem(15);

			@include microbe-media($breakpoint-df) {
				font-size: microbe-rem(19);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(19);
			}
		}

		@include microbe-media($screen-vw) {
			max-width: vw(750);
			padding: vw(138) 0 vw(60);
		}
	}

	&__title {
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);
		text-align: center;
		color: $color-white;
		margin: 0;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(42);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
		}
	}

	&__text {
		margin-top: microbe-rem(12);
		color: $color-white;
		font-size: microbe-rem(18);
		line-height: microbe-em(26, 22);
		text-align: center;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(22);
			margin-top: vw(12);
		}
	}

	&__button {
		margin-top: microbe-rem(35);

		@include microbe-media($breakpoint-md) {
			margin-top: microbe-rem(45);
		}

		@include microbe-media($screen-vw) {
			margin-top: vw(62);
		}
	}

	&--blog {
		&[data-loaded="true"] {
			background-color: $color-black;
		}

		#{$this}__content {
			max-width: microbe-rem(926);

			@include microbe-media($screen-vw) {
				max-width: vw(926);
			}
		}

		#{$this}__bottom {
			display: flex;
			align-items: safe center;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: microbe-rem(65);

			@include microbe-media($screen-vw) {
				margin-top: vw(65);
			}

			.button {
				border-color: rgba($color-border, .2);
			}
		}
	}

	&--group {
		padding-bottom: microbe-rem(175);

		@include microbe-media($screen-vw) {
			padding-bottom: vw(175);
		}
	}

	&--contacts {
		#{$this}__content {
			max-width: microbe-rem(980);

			@include microbe-media($screen-vw) {
				max-width: vw(980);
			}
		}

		#{$this}__button {
			margin-top: microbe-rem(35);

			@include microbe-media($screen-vw) {
				margin-top: vw(35);
			}
		}
	}

	&--reports {
		#{$this}__content {
			max-width: microbe-rem(840);
			width: 100%;

			@include microbe-media($screen-vw) {
				max-width: vw(840);
			}
		}

		#{$this}__text {
			line-height: microbe-em(30, 22);
		}
	}

	&--blog-inner {
		#{$this}__title {
			font-weight: $font-weight-regular;
		}

		#{$this}__content {
			max-width: microbe-rem(978);
			width: 100%;

			@include microbe-media($screen-vw) {
				max-width: vw(978);
			}
		}

		#{$this}__bottom {
			width: 100%;
			margin-top: microbe-rem(35);

			@include microbe-media($screen-vw) {
				margin-top: vw(35);
			}
		}

		.date-block {
			@include microbe-media($breakpoint-xs, max) {
				width: 100%;
				margin-bottom: microbe-rem(20);
			}
		}
	}
}
