.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	color: $color-white;
	transition: transform .3s ease, background-color .3s ease, color .3s ease;

	@include microbe-media($screen-vw) {
		padding: vw(12) 0;
	}

	@include microbe-media($breakpoint-xl) {
		padding: vw(22) 0;
	}

	&.is-page-scrolled {
		transform: translateY(-100%);
	}

	&.moved,
	&--light,
	&.is-active {
		background-color: $color-white;
		color: $color-text-4;
	}

	&--static {
		position: absolute;
		transform: none !important; // sass-lint:disable-line no-important

		& ~ .main {
			.heading-section {
				margin: 0;
			}
		}
	}

	&--mobile {
		padding: microbe-rem(20) 0;

		@include microbe-media($screen-vw) {
			padding: microbe-rem(20) 0;
		}
	}
}
