.hero-slider {
	$this: &;

	min-height: microbe-rem(600);
	position: relative;

	@include microbe-media($screen-vw) {
		height: vw(900);
		background-color: rgba($color-accent-darker, .5);
	}

	&__slide {
		position: relative;
		width: 100%;
		flex-shrink: 0;
		height: 100%;
		display: flex !important; // sass-lint:disable-line no-important
		align-items: flex-end;
		justify-content: center;
		padding: microbe-rem(90) 0 microbe-rem(60);

		@include microbe-media($screen-vw) {
			padding: 0 0 vw(115);
			min-height: vw(465);
		}
	}

	&__list {
		height: 100%;
		display: flex;
		min-height: microbe-rem(600);

		&:not(.slick-initialized) {
			#{$this}__slide {
				min-height: microbe-rem(600);

				@include microbe-media($screen-vw) {
					min-height: initial;
				}
			}
		}

		@include microbe-media($screen-vw) {
			min-height: initial;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: safe center;
		z-index: -1;
		pointer-events: none;
		background-color: rgba($color-black, .4);

		.hero-slide-custom-animation-ready & {
			opacity: 0;
		}

		.hero-slide-custom-animation-in & {
			opacity: 1;
			transition: opacity 1s ease;
		}

		.hero-slide-custom-animation-out & {
			transform: scale(1.075);
			transform-origin: 20% 50%;
			opacity: 0;
			transition: opacity 1s ease, transform 1s ease;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.title {
		& + #{$this}__text {
			margin-top: microbe-rem(15);

			@include microbe-media($screen-vw) {
				margin-top: vw(15);
			}
		}
	}

	&__text {
		font-size: microbe-rem(20);
		line-height: microbe-em(28, 24);
		margin: 0 0 microbe-rem(30);
		color: $color-white;
		text-align: center;

		@include microbe-media($screen-vw) {
			font-size: vw(24);
			margin: 0 0 vw(50);
		}

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: safe center;
		justify-content: flex-start;
		min-height: microbe-rem(400);
		max-width: microbe-rem(720);
		width: 100%;

		.hero-slide-custom-animation-ready & {
			opacity: 0;
			transform: translateY(-2vh);
		}

		.hero-slide-custom-animation-in & {
			opacity: 1;
			transform: none;
			transition: opacity 1s ease, transform 1s ease;
		}

		.hero-slide-custom-animation-out & {
			transform: translateY(3vh);
			opacity: 0;
			filter: blur(5px);
			transition: opacity 1s ease, transform 1s ease, filter 1s ease;
		}

		@include microbe-media($screen-vw) {
			min-height: vw(465);
			max-width: vw(750);
		}
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		margin-top: microbe-rem(30);
		max-width: microbe-rem(720);
		justify-content: center;
		width: 100%;

		@include microbe-media($screen-vw) {
			justify-content: space-between;
			margin-top: vw(70);
			max-width: vw(750);
		}

		.link {
			max-width: microbe-rem(150);
			width: 100%;

			@include microbe-media($screen-vw) {
				max-width: calc(#{vw(135)} + #{microbe-rem(25)});
			}
		}
	}

	&__controls {
		position: absolute;
		left: 50%;
		bottom: microbe-rem(25);
		transform: translateX(-50%);
		display: flex;
		align-items: safe center;

		@include microbe-media($breakpoint-df) {
			left: initial;
			bottom: initial;
			top: 50%;
			transform: translateY(-50%);
			right: microbe-rem(30);
			padding-top: microbe-rem(40);
			display: block;
		}

		@include microbe-media($screen-vw) {
			right: vw(85);
			padding-top: vw(65);
		}
	}

	&__control {
		padding: 0;
		border: none;
		background-color: transparent;
		transition: color .2s ease, opacity .2s ease;
		outline: none;
		color: $color-white;
		cursor: pointer;
		transform-origin: center;
		transform: rotate(-90deg);

		@include microbe-media($breakpoint-df) {
			position: absolute;
			transform: translate(-50%, 0);
			left: 50%;
		}

		&.slick-disabled {
			opacity: 0;
			pointer-events: none;
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}

		svg {
			fill: currentColor;
			width: microbe-rem(25);
			height: microbe-rem(12.5);

			@include microbe-media($breakpoint-df) {
				width: microbe-rem(40);
				height: microbe-rem(21);
			}

			@include microbe-media($screen-vw) {
				width: vw(40);
				height: vw(21);
			}
		}

		&--prev {
			margin-right: microbe-rem(15);

			@include microbe-media($breakpoint-df) {
				margin-right: 0;
				top: microbe-rem(-25);
			}

			@include microbe-media($screen-vw) {
				top: vw(-81);
			}
		}

		&--next {
			margin-left: microbe-rem(15);

			@include microbe-media($breakpoint-df) {
				margin-left: 0;
				bottom: microbe-rem(-90);
			}

			@include microbe-media($screen-vw) {
				bottom: vw(-146);
			}
		}
	}

	.slick-dots {
		list-style-type: none;
		padding: 0;
		display: flex;
		align-items: safe center;
		margin: 0 0 microbe-rem(10);

		@include microbe-media($breakpoint-df) {
			margin: 0;
			display: initial;
		}

		li {
			width: microbe-rem(8);
			height: microbe-rem(8);

			&:not(:last-child) {
				margin-right: microbe-rem(15);

				@include microbe-media($breakpoint-df) {
					margin-right: 0;
					margin-bottom: microbe-rem(15);
				}
			}

			@include microbe-media($screen-vw) {
				width: vw(8);
				height: vw(8);

				&:not(:last-child) {
					margin-bottom: vw(28);
				}
			}
		}

		.slick-active {
			button {
				background-color: $color-accent;

				&::before {
					width: microbe-rem(24);
					height: microbe-rem(24);
					opacity: 1;

					@include microbe-media($screen-vw) {
						width: vw(24);
						height: vw(24);
					}
				}
			}
		}

		button {
			position: relative;
			cursor: pointer;
			padding: 0;
			outline: none;
			border: none;
			color: transparent;
			width: microbe-rem(8);
			height: microbe-rem(8);
			border-radius: 50%;
			background-color: rgba($color-white, .3);
			transition: background-color .2s ease;

			@include microbe-media($screen-vw) {
				width: vw(8);
				height: vw(8);
			}

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				transform: translate(-50%, -50%);
				top: 50%;
				border-radius: 50%;
				border: 1px solid $color-accent;
				z-index: -1;
				opacity: 0;
				transition: width .2s ease, height .2s ease, opacity .1s ease;
				width: 0;
				height: 0;
			}
		}
	}

	.slick-list {
		height: 100% !important; // sass-lint:disable-line no-important
		min-height: microbe-rem(600);

		@include microbe-media($screen-vw) {
			min-height: initial;
		}
	}

	.slick-track {
		display: flex !important; // sass-lint:disable-line no-important
		height: 100% !important; // sass-lint:disable-line no-important
		min-height: microbe-rem(600);

		@include microbe-media($screen-vw) {
			min-height: initial;
		}

		.slick-slide {
			height: initial !important; // sass-lint:disable-line no-important

			&.hero-slide-custom-animation-out {
				z-index: 1000 !important; // sass-lint:disable-line no-important
			}

			> div {
				height: 100%;
			}
		}
	}
}
