.language-switcher {
	$this: &;

	position: relative;
	padding: microbe-rem(10) microbe-rem(20) !important; // sass-lint:disable-line no-important
	margin: microbe-rem(-5);
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: safe center;

	span {
		display: block;
	}

	&:not(#{$this}--theme-mobile) {
		@include microbe-media($screen-vw) {
			display: block;
			padding: vw(5) !important; // sass-lint:disable-line no-important
			margin: vw(-5);

			&:hover {
				#{$this}__dropdown {
					opacity: 1;
					pointer-events: all;
				}
			}
		}

		#{$this}__current {
			@include microbe-media($screen-vw) {
				margin: 0;
				width: vw(26);
				height: vw(26);
			}

			&::before {
				@include microbe-media($screen-vw) {
					content: none;
				}
			}
		}

		#{$this}__dropdown {
			@include microbe-media($screen-vw) {
				width: 100%;
				background-color: $color-white;
				box-shadow: 0 0 vw(3) rgba($color-accent-darker, .2);
				position: absolute;
				border-radius: vw(5);
				padding: calc(100% + #{vw(10)}) 0 vw(10);
				transition: opacity 0.2s ease;
				opacity: 0;
				top: 0;
				left: 0;
			}
		}

		#{$this}__link {
			@include microbe-media($screen-vw) {
				margin: 0 auto vw(10);

				&:last-child {
					margin-bottom: 0;
				}
			}

			img {
				@include microbe-media($screen-vw) {
					width: vw(26);
					height: vw(26);
				}
			}
		}
	}

	&__current {
		position: relative;
		z-index: 1;
		order: 1;
		margin: microbe-rem(5);
		display: flex;
		align-items: safe center;
		justify-content: center;
		width: microbe-rem(26);
		height: microbe-rem(26);

		img {
			width: 100% !important; // sass-lint:disable-line no-important
			height: 100% !important; // sass-lint:disable-line no-important
			margin-right: 0 !important; // sass-lint:disable-line no-important
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(100% + #{microbe-rem(8)});
			height: calc(100% + #{microbe-rem(8)});
			border: 1px solid $color-accent-darker;
			border-radius: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__dropdown {
		border-radius: microbe-rem(5);
	}

	&__list {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	&__link {
		outline: none;
		border-radius: 50%;
		margin: microbe-rem(5);
		display: flex;
		justify-content: center;

		img {
			width: microbe-rem(26);
			height: microbe-rem(26);
			margin-right: 0 !important; // sass-lint:disable-line no-important
		}
	}
}
