.link {
	$this: &;
	text-decoration: none;
	display: flex;
	align-items: safe center;
	transition: color .2s ease, background-color .2s ease;
	outline: none;

	&__icon {
		flex-shrink: 0;
		transition: fill .2s ease;
	}

	&--theme-profile {
		color: inherit;
		margin: 0 microbe-rem(6);

		@include microbe-media($screen-vw) {
			margin: 0 vw(6);
		}

		#{$this}__icon {
			fill: currentColor;
			width: microbe-rem(36);
			height: microbe-rem(36);

			@include microbe-media($screen-vw) {
				width: vw(36);
				height: vw(36);
			}
		}

		@media(hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}
	}

	&--theme-wezom {
		color: $color-black;
		font-size: microbe-rem(14);
		line-height: microbe-em(18, 14);

		@media (hover: hover) {
			&:hover {
				span {
					color: #ff0000;
				}
			}

			&:active {
				span {
					color: #d60000;
				}
			}
		}

		span {
			transition: inherit;
		}

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}
	}

	&--theme-service {
		display: flex;
		flex-direction: column;
		align-items: safe center;

		#{$this}__icon {
			display: flex;
			align-items: safe center;
			justify-content: center;
			border-radius: 50%;
			width: microbe-rem(65);
			height: microbe-rem(65);
			background-color: $color-white;
			border: 2px solid transparent;
			transition: background-color .2s ease, border-color .2s ease;

			svg {
				fill: $color-accent-darker;
				width: microbe-rem(26);
				height: microbe-rem(26);
				transition: fill .2s ease;

				@include microbe-media($screen-vw) {
					width: vw(35);
					height: vw(35);
				}
			}

			@include microbe-media($screen-vw) {
				width: vw(84);
				height: vw(84);
			}
		}

		#{$this}__text {
			color: $color-white;
			text-align: center;
			font-weight: $font-weight-thin;
			font-size: microbe-rem(14);
			line-height: 1.2em;
			margin-top: microbe-rem(12);
			transition: color .2s ease;

			@include microbe-media($screen-vw) {
				font-size: vw(16);
				margin-top: vw(17);
			}
		}

		@media (hover: hover) {
			&:hover {
				#{$this}__icon {
					border-color: $color-accent;
				}

				#{$this}__text {
					color: $color-accent;
				}
			}

			&:active {
				#{$this}__icon {
					background-color: $color-accent;
					border-color: $color-accent;

					svg {
						fill: $color-white;
					}
				}

				#{$this}__text {
					color: $color-accent;
				}
			}
		}
	}

	&--watch-all {
		position: absolute;
		top: microbe-rem(8);
		right: 0;
		color: $color-accent-darker;
		text-transform: uppercase;
		font-size: microbe-rem(12);
		font-weight: $font-weight-medium;

		@media(max-width: $breakpoint-md) {
		    position: relative;
			top: microbe-rem(-20);
			right: 0;
		}

		@include microbe-media($screen-vw) {
			top: vw(8);
			right: vw(70);
			font-size: vw(12);
		}

		&:hover {
			color: $color-accent;
		}

		#{$this}__icon {
			width: microbe-rem(16);
			height: microbe-rem(16);
			margin-left: microbe-rem(5);

			@include microbe-media($screen-vw) {
				width: vw(16);
				height: vw(16);
				margin-left: vw(5);
			}

			svg {
				fill: $color-accent-darker;
			}
		}
	}

	&--theme-default {
		color: inherit;

		@media(hover:hover) {
			&:hover {
				color: $color-main;
			}

			&:active {
				color: $color-accent;
			}
		}
	}

	&--theme-default-accent {
		color: $color-accent-darker;

		@media(hover:hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-dark;
			}
		}
	}
}
