.list {
	$this: &;

	padding: 0;
	margin: 0;
	list-style-type: none;

	&--theme-default {
		#{$this}__item {
			position: relative;
			padding-left: microbe-rem(14);
			font-size: microbe-rem(15);
			line-height: microbe-em(26, 15);

			@include microbe-media($screen-vw) {
				font-size: vw(15);
				padding-left: vw(14);
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: microbe-rem(10);
				width: microbe-rem(7);
				height: microbe-rem(7);
				background-color: $color-accent;
				border-radius: 50%;

				@include microbe-media($screen-vw) {
					top: vw(10);
					width: vw(7);
					height: vw(7);
				}
			}
		}
	}
}
