.news-nav {
	$this: &;

	&__btn-icon {
		width: microbe-rem(20);
		height: microbe-rem(20);
		border: 1px solid $color-accent;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		pointer-events: all;
		flex-shrink: 0;
		transition: border-color 400ms ease, background-color 400ms ease;

		@include microbe-media($screen-vw) {
			width: vw(64);
			height: vw(64);
		}

		@include microbe-media($breakpoint-df, max) {
			width: microbe-rem(40);
			height: microbe-rem(40);
		}

		@include microbe-media($breakpoint-xs) {
			width: microbe-rem(64);
			height: microbe-rem(64);
		}

		svg {
			width: microbe-rem(12);
			height: microbe-rem(24);
			fill: $color-accent;
			transition: fill 400ms ease;

			@include microbe-media($breakpoint-df, max) {
				width: microbe-rem(8);
				height: microbe-rem(18);
			}

			@include microbe-media($breakpoint-xs, max) {
				width: microbe-rem(4);
				height: microbe-rem(9);
			}

			@include microbe-media($screen-vw) {
				width: vw(12);
				height: vw(24);
			}
		}
	}

	&__btn-text {
		font-size: microbe-rem(12);
		line-height: microbe-em(18, 12);
		font-weight: $font-weight-medium;
		transition: color 400ms ease;

		@include microbe-media($breakpoint-ms) {
			white-space: nowrap;
			font-size: microbe-rem(16);
			line-height: microbe-em(18, 16);
		}

		@include microbe-media($breakpoint-xs, max) {
			width: min-content;
		}

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}
	}

	&__button {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: rgba($color-black, 0.9);

		&--left {
			justify-content: flex-start;
			padding-top: microbe-rem(13);

			@include microbe-media($screen-vw) {
				padding-top: vw(13);
			}

			#{$this}__btn-icon {
				margin-right: microbe-rem(12);

				@include microbe-media($breakpoint-ms) {
					margin-right: microbe-rem(26);
				}

				@include microbe-media($screen-vw) {
					margin-right: vw(26);
				}
			}
		}

		&--center {
			justify-content: center;
			flex-direction: column;
			align-items: center;

			@include microbe-media($breakpoint-ms, max) {
				text-align: center;
			}

			#{$this}__btn-icon {
				border: 0;

				svg {
					width: microbe-rem(30);
					height: microbe-rem(30);

					@include microbe-media($breakpoint-df, max) {
						width: microbe-rem(20);
						height: microbe-rem(20);
					}

					@include microbe-media($screen-vw) {
						width: vw(30);
						height: vw(30);
					}
				}
			}
		}

		&--right {
			justify-content: flex-end;
			padding-top: microbe-rem(13);

			@include microbe-media($screen-vw) {
				padding-top: vw(13);
			}

			#{$this}__btn-text {
				margin-right: microbe-rem(12);

				@include microbe-media($breakpoint-ms) {
					margin-right: microbe-rem(26);
				}

				@include microbe-media($screen-vw) {
					margin-right: vw(26);
				}
			}
		}

		@media(hover:hover) {
			&:hover {
				#{$this}__btn-text {
					color: $color-accent;
				}

				#{$this}__btn-icon {
					background-color: $color-accent;

					svg {
						fill: $color-white;
					}
				}
			}

			&:active {
				#{$this}__btn-text {
					color: $color-accent-darker;
				}

				#{$this}__btn-icon {
					background-color: $color-accent-darker;
					border-color: $color-accent-darker;
				}
			}
		}
	}
}
