.partner-item {
	$this: &;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 microbe-rem(15);
	width: 16%;
	margin-bottom: microbe-rem(40);
	position: relative;

	@include microbe-media($screen-vw) {
		padding: 0 vw(15);
	}

	@media(hover:hover) {
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);

			#{$this}__text {
				opacity: 1;
			}
		}
	}

	@media(max-width: $breakpoint-df) {
		width: 24%;
	}

	@media(max-width: $breakpoint-md) {
		width: 32%;
	}

	@media(max-width: $breakpoint-xs) {
		width: 48%;
	}

	&:last-child {
		border: none;
	}

	img {
		margin: 0 auto;
	}

	&__text {
		position: absolute;
		top: calc(100% + 5px);
		text-align: center;
		transition: opacity 400ms ease;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
		font-size: microbe-rem(16);
		font-weight: $font-weight-medium;
		color: $color-black;

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}

		@media(hover:hover) {
			opacity: 0;
		}
	}
}
