.preloader {
	$this: &;
	position: relative;

	&::before  {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 3;
	}

	&__block {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: microbe-rem(200);
		height: microbe-rem(200);

		@include microbe-media($screen-vw) {
			width: vw(200);
			height: vw(200);
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			border-radius: 50%;
			border-top: 3px solid $color-main;
			transform-origin: center;
			animation: spin .6s linear infinite;
		}

		&::after {
			content: '';
			position: absolute;
			left: microbe-rem(20);
			right: microbe-rem(20);
			bottom: microbe-rem(20);
			top: microbe-rem(20);
			border-radius: 50%;
			border-bottom: 3px solid $color-main;
			transform-origin: center;
			animation: spin .4s linear reverse infinite;

			@include microbe-media($screen-vw) {
				left: vw(20);
				right: vw(20);
				bottom: vw(20);
				top: vw(20);
			}
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
