.risks {
	$this: &;

	&__title {
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);
		text-align: center;
		color: $color-black;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(42);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__content-wrapper {
		margin-top: microbe-rem(35);
		padding-bottom: microbe-rem(40);
		border-bottom: 1px solid rgba($color-black, .1);

		@include microbe-media($screen-vw) {
			margin-top: vw(65);
			padding-bottom: vw(40);
		}
	}

	&--theme-inner {
		#{$this}__content-wrapper {
			margin-top: microbe-rem(30);
			padding-bottom: microbe-rem(49);

			@include microbe-media($screen-vw) {
				margin-top: vw(48);
			}
		}
	}
}

.risk {
	max-width: microbe-rem(365);
	width: 100%;
	display: flex;
	align-items: safe center;
	transition: box-shadow .2s ease;
	border-radius: microbe-rem(10);
	padding: microbe-rem(26) microbe-rem(17) microbe-rem(22) microbe-rem(34);
	margin: 0 0 microbe-rem(15);

	@include microbe-media($screen-vw) {
		max-width: vw(365);
		border-radius: vw(10);
		margin: 0 0 vw(15);
		padding: vw(26) vw(30) vw(22) vw(34);
	}

	@media (hover: hover) {
		&:hover {
			box-shadow: 0 microbe-rem(20) microbe-rem(40) rgba($color-black, .05);

			@include microbe-media($screen-vw) {
				box-shadow: 0 vw(20) vw(40) rgba($color-black, .05);
			}
		}
	}

	&__icon {
		margin-right: microbe-rem(20);
		display: flex;
		align-items: safe center;
		flex-shrink: 0;

		@include microbe-media($screen-vw) {
			margin-right: vw(35);
		}

		svg {
			fill: $color-accent-darker;
			width: microbe-rem(55);
			height: microbe-rem(60);

			@include microbe-media($screen-vw) {
				width: vw(55);
				height: vw(60);
			}
		}
	}

	&__title {
		color: rgba($color-black, .6);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(16);
		line-height: 1.5em;

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}
	}
}
