.search {
	$this: &;

	position: fixed;
	left: 50%;
	top: microbe-rem(132);
	max-width: microbe-rem(600);
	width: 100%;
	z-index: 12;
	transform: translate(-50%, -75vh);
	transition: transform .4s ease-out;
	display: none;

	&.is-active {
		transform: translate(-50%, 0);
	}

	@include microbe-media($screen-vw) {
		display: initial;
		max-width: vw(900);
	}

	&__title {
		font-weight: $font-weight-medium;
		font-size: microbe-rem(48);
		line-height: 1.2em;
		display: block;
		color: $color-white;
		padding-bottom: microbe-rem(32);

		@include microbe-media($screen-vw) {
			font-size: vw(48);
			padding-bottom: vw(32);
		}
	}

	&__field-wrapper {
		max-width: microbe-rem(600);
		position: relative;
		width: 100%;

		@include microbe-media($screen-vw) {
			max-width: vw(900);
		}
	}

	&__field {
		width: 100%;
		line-height: 100%;
		height: microbe-rem(80);
		font-size: microbe-rem(16);
		color: $color-text-4;
		padding: 0 microbe-rem(30);
		border-radius: microbe-rem(50);
		outline: none;
		border: none;
		box-shadow: 0 microbe-rem(16) microbe-rem(24) rgba($color-black, .06), 0 microbe-rem(6) microbe-rem(30) rgba($color-black, .04), 0 microbe-rem(8) microbe-rem(10) rgba($color-black, .12);

		&:focus {
			&::placeholder {
				color: transparent;
			}
		}

		@include microbe-media($screen-vw) {
			font-size: vw(18);
			padding: 0 vw(50);
			border-radius: vw(50);
			box-shadow: 0 vw(16) vw(24) rgba($color-black, .06), 0 vw(6) vw(30) rgba($color-black, .04), 0 vw(8) vw(10) rgba($color-black, .12);
		}

		&::placeholder {
			font-size: microbe-rem(16);
			line-height: 100%;
			color: $color-text-4;
			transition: color .2s ease;

			@include microbe-media($screen-vw) {
				font-size: vw(18);
			}
		}

		@include microbe-media($screen-vw) {
			height: vw(80);
		}
	}

	&__button {
		padding: 0;
		outline: none;
		cursor: pointer;
		background-color: transparent;
		transition: color .2s ease;
		color: $color-black;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: microbe-rem(47);
		border: none;

		@include microbe-media($screen-vw) {
			right: vw(47);
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}

		svg {
			width: microbe-rem(26);
			height: microbe-rem(26);
			fill: currentColor;

			@include microbe-media($screen-vw) {
				width: vw(26);
				height: vw(26);
			}
		}
	}

	&-icon {
		color: inherit;
		cursor: pointer;
		width: microbe-rem(27);
		height: microbe-rem(27);
		transition: fill .2s ease;
		fill: currentColor;

		@media (hover: hover) {
			&:hover {
				fill: $color-accent;
			}

			&:active {
				fill: $color-accent-darker;
			}
		}

		@include microbe-media($screen-vw) {
			width: vw(27);
			height: vw(27);
		}
	}
}

.search-dim {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	background-color: rgba(#142636, .6);
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease-out;

	html.dimmed & {
		opacity: 1;
		pointer-events: all;
	}
}
