.search-results {
	$this: &;

	&__title {
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(42);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
		}

		span {
			color: $color-accent-darker;
		}
	}

	&__subtitle {
		color: $color-black;
		font-weight: $font-weight-medium;
		font-size: microbe-rem(26);
		line-height: microbe-em(54, 26);
		padding-bottom: microbe-rem(20);

		@include microbe-media($screen-vw) {
			font-size: vw(26);
			padding-bottom: vw(25);
		}
	}
}
