.services-slider {
	$this: &;

	width: 100%;

	&__list {
		width: 100%;

		&:not(.slick-initialized) {
			#{$this}__slide {
				&:not(:first-child) {
					display: none !important; // sass-lint:disable-line no-important
				}
			}
		}
	}

	&__slide {
		display: flex !important; // sass-lint:disable-line no-important
		justify-content: space-between;
		padding-top: 0;
		flex-direction: column;
		align-items: safe center;

		@include microbe-media($breakpoint-md) {
			flex-direction: row;
			align-items: initial;
		}

		@include microbe-media($screen-vw) {
			padding-top: vw(100);
		}
	}

	&__slide-title {
		font-size: microbe-rem(24);
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		color: $color-black;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(36);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
		}
	}

	&__slide-subtitle {
		font-size: microbe-rem(16);
		line-height: microbe-em(41, 20);
		color: $color-black;
		margin-top: microbe-rem(5);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(18);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(20);
			margin-top: vw(5);
		}
	}

	&__slide-description {
		font-size: microbe-rem(15);
		line-height: 1.9em;
		color: $color-text-1-lighter;
		margin-top: microbe-rem(10);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(16);
			margin-top: microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(18);
			margin-top: vw(20);
		}
	}

	&__slide-content {
		max-width: microbe-rem(620);
		order: 1;

		@include microbe-media($breakpoint-md) {
			order: 0;
		}

		@include microbe-media($breakpoint-df) {
			max-width: microbe-rem(510);
		}

		@include microbe-media($screen-vw) {
			max-width: vw(510);
		}

		.button {
			margin-top: microbe-rem(37);

			@include microbe-media($breakpoint-md) {
				margin-top: microbe-rem(30);
			}

			@include microbe-media($screen-vw) {
				margin-top: vw(37);
			}
		}
	}

	&__slide-image {
		width: microbe-rem(150);
		height: microbe-rem(150);
		margin-right: 0;
		position: relative;
		border-radius: 50%;
		display: flex;
		margin-top: 0;
		flex-shrink: 0;
		order: 0;
		margin-bottom: microbe-rem(30);

		@include microbe-media($breakpoint-md) {
			margin-bottom: 0;
			order: 1;
			margin-right: microbe-rem(35);
			margin-top: microbe-rem(-17);
		}

		@include microbe-media($screen-vw) {
			width: vw(236);
			height: vw(236);
			margin-top: vw(-17);
			margin-right: vw(71);
		}

		&-decor {
			position: absolute;
			width: microbe-rem(75);
			height: microbe-rem(75);
			border-radius: 50%;
			background-color: $color-accent;
			top: 0;
			right: 0;
			transform: translate(35%, -40%);

			@include microbe-media($screen-vw) {
				width: vw(138);
				height: vw(138);
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				background-color: #C1A0B8;
				border-radius: 50%;
			}

			&::before {
				width: microbe-rem(20);
				height: microbe-rem(20);
				right: microbe-rem(-30);
				transform: translateY(-35%);
				top: 50%;

				@include microbe-media($screen-vw) {
					width: vw(34);
					height: vw(34);
					right: vw(-56);
				}
			}

			&::after {
				width: microbe-rem(15);
				height: microbe-rem(15);
				right: microbe-rem(-50);
				transform: translateY(-140%);
				top: 50%;

				@include microbe-media($screen-vw) {
					width: vw(27.5);
					height: vw(27.5);
					right: vw(-85);
				}
			}
		}

		img {
			z-index: 2;
			width: 100%;
			height: 100%;
			max-width: initial;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	.slick-list {
		overflow: initial !important; // sass-lint:disable-line no-important
	}
}
