.text {
	$this: &;

	&--size-lg {
		font-size: microbe-rem(18);
		line-height: microbe-em(30, 16);

		@include microbe-media($screen-vw) {
			font-size: vw(18);
		}
	}

	&--color-grey {
		color: rgba($color-black, 0.6);
	}
}
