@import 'settings/all-settings';
@import 'tools/all-tools';

html {
	font-family: $font-family-default;
	font-size: percentage($rem-base / 16); // не менять на брейкпоинтах!!!
	line-height: microbe-rem($line-height-base);
	color: $color-black;
	overflow-x: hidden;
	min-height: 100vh;
}
