// -----------------------------------------------------------------------------
// Смотри пояснение струтуры цветов здесь
// https://material-ui.com/ru/customization/color/
// -----------------------------------------------------------------------------

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #9FA3A7;

$color-light: #F2F2F2;
$color-dark: #212121;
$color-dark-two: #212121;
$color-grey-2: #999999;
$color-grey-3: #e4e4e4;
$color-grey-4: #101010;
$color-grey-3: #C9D3DC;

$color-success: #52d14c;
$color-info: #35b7e7;
$color-warning: #efd65c;
$color-danger: #ce3d3d;

$color-border: #BDBDBD;
$color-bg-light: #E5F4EF;
$color-bg-light-2: #f5f5f5;
$color-bg-lighter: #A7D8C9;
$color-bg-dark-green: #5C9796;
$color-bg-grey: #F3F4F7;
$color-bg-grey-lighter: rgba(#F3F4F7, .6);

$color-main: #227B78;

$color-accent: #67CBAD;
$color-accent-darker: #1A7A78;
$color-accent-dark: #009AA4;

$color-accent-2: #FC737B;
$color-accent-2-darker: #E2575C;

$color-accent-3: #FFD500;

$color-text-1-lighter: rgba(#2A3749, .6);
$color-text-1: #2A3749;
$color-text-2: rgba($color-white, .6);
$color-text-3: #111111;
$color-text-4: #333333;
$color-text-light: #FEFEFE;

$color-grey: #A8A8A8;
$color-grey-dark: #4F4F4F;

$color-bg: #E5E5E5;
$color-bg-dark: #F0F3F1;

$color-bg-dark-2: #EEF1EB;

$color-red: #B21010;
$color-red-dark: #D90000;
