//@import '~select2/src/scss/core';
//@import '../../../../sass/settings/_all-settings';
//@import '../../../../sass/tools/_all-tools';
//
//// sass-lint:disable no-important
//.select2 {
//	$this: &;
//
//	position: relative;
//	height: 100%;
//
//	&-selection {
//		border: 1px solid $color-border;
//		outline: none !important;
//		height: 100% !important;
//		border-radius: microbe-rem(56) !important;
//		padding: 0 microbe-rem(20);
//
//		&__rendered {
//			height: 100% !important;
//			color: $color-text-4 !important;
//			font-size: microbe-rem(14) !important;
//			line-height: 1.1em !important;
//			display: flex !important;
//			align-items: center;
//			margin-right: microbe-rem(32);
//			padding: 0 !important;
//
//			@include microbe-media($screen-vw) {
//				font-size: vw(16) !important;
//				margin-right: vw(32);
//			}
//		}
//
//		&__arrow {
//			top: 50% !important;
//			transform: translateY(-50%);
//			background-image: url("data:image/svg+xml,%3Csvg width='18' fill='%23111111' height='11' viewBox='0 0 18 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.448853 1.95718L1.86307 0.542969L9.15596 7.83586L16.4489 0.542969L17.8631 1.95718L9.15596 10.6643L0.448853 1.95718Z' /%3E%3C/svg%3E%0A");
//			background-repeat: no-repeat;
//			background-position: center;
//			right: microbe-rem(26) !important;
//
//			@include microbe-media($screen-vw) {
//				right: vw(26) !important;
//			}
//
//			.select2-container--open & {
//				transform: rotate(180deg) translateY(50%);
//			}
//
//			b {
//				display: none;
//			}
//		}
//	}
//
//	&-container {
//
//		&--default {
//			.select2-selection--single {
//				border: 1px solid $color-white !important;
//			}
//		}
//	}
//
//	&-container--open {
//		.select2-selection--single {
//			border: 1px solid $color-border !important;
//		}
//
//		&#{$this}-container--above #{$this}-selection {
//			border-radius: 0 0 microbe-rem(27) microbe-rem(27) !important;
//			border-top: none;
//
//			@include microbe-media($screen-vw) {
//				border-radius: 0 0 vw(27) vw(27) !important;
//			}
//		}
//
//		&#{$this}-container--below #{$this}-selection {
//			border-radius: microbe-rem(27) microbe-rem(27) 0 0 !important;
//			border-bottom: none;
//
//			@include microbe-media($screen-vw) {
//				border-radius: vw(27) vw(27) 0 0 !important;
//			}
//		}
//	}
//
//	&-dropdown {
//		background-color: $color-white;
//		padding: 0 microbe-rem(10) microbe-rem(20);
//		top: microbe-rem(-4);
//		border: {
//			left: 1px solid $color-border;
//			right: 1px solid $color-border;
//			bottom: 1px solid $color-border;
//			top: none;
//		}
//		border-radius: 0 0 microbe-rem(28) microbe-rem(28) !important;
//
//		@include microbe-media($screen-vw) {
//			padding: 0 vw(10) vw(20);
//			top: vw(-4);
//			border-radius: 0 0 vw(28) vw(28) !important;
//		}
//
//		&--above {
//			top: 0;
//			border-radius: microbe-rem(28) microbe-rem(28) 0 0 !important;
//			padding: microbe-rem(20) microbe-rem(10);
//			border: {
//				left: 1px solid $color-border;
//				right: 1px solid $color-border;
//				bottom: none;
//				top: 1px solid $color-border;
//			}
//
//			@include microbe-media($screen-vw) {
//				padding: vw(20) vw(10);
//				top: vw(-4);
//				border-radius: vw(28) vw(28) 0 0 !important;
//			}
//		}
//	}
//
//	&-results__options {
//		width: 100%;
//		max-height: microbe-rem(235) !important;
//
//		@include microbe-media($screen-vw) {
//			max-height: vw(235) !important;
//		}
//
//		/* width */
//		&::-webkit-scrollbar {
//			width: microbe-rem(3);
//
//			@include microbe-media($screen-vw) {
//				width: vw(5);
//			}
//		}
//
//		/* Track */
//		&::-webkit-scrollbar-track {
//			background: transparent;
//			border-radius: microbe-rem(8);
//
//			@include microbe-media($screen-vw) {
//				border-radius: vw(10);
//			}
//		}
//
//		/* Handle */
//		&::-webkit-scrollbar-thumb {
//			background: $color-grey-2;
//			border-radius: microbe-rem(8);
//
//			@include microbe-media($screen-vw) {
//				border-radius: vw(10);
//			}
//		}
//
//		/* Handle on hover */
//		&::-webkit-scrollbar-thumb:hover {
//			background: $color-grey-3;
//			border-radius: microbe-rem(8);
//
//			@include microbe-media($screen-vw) {
//				border-radius: vw(10);
//			}
//		}
//	}
//
//	&-results__option {
//		transition: background-color .2s;
//		background-color: $color-white;
//		border-radius: microbe-rem(4);
//		color: $color-text-4 !important;
//		font-size: microbe-rem(14);
//		line-height: microbe-em(20, 14);
//		display: flex;
//		align-items: center;
//		padding: microbe-rem(6px) microbe-rem(32px) microbe-rem(6px) microbe-rem(6px) !important; // sass-lint:disable-line no-important
//		margin: 0 microbe-rem(10px) 0 microbe-rem(7px);
//		flex-wrap: wrap;
//
//		@include microbe-media($screen-vw) {
//			padding: vw(6px) vw(8px) !important; // sass-lint:disable-line no-important
//			margin: 0 vw(10px) 0 vw(7px);
//			font-size: vw(14);
//			border-radius: vw(4);
//		}
//
//		> #{$this}-results__options--nested {
//			margin: 0 microbe-rem(-12);
//			width: 100%;
//
//			@include microbe-media($screen-vw) {
//				margin: 0 vw(-12);
//			}
//		}
//
//		> #{$this}-results__options {
//			max-height: initial !important;
//		}
//
//		&--highlighted {
//			background-color: rgba($color-accent, .1) !important;
//		}
//
//		&[aria-selected="true"] {
//			background-color: rgba($color-accent, .1) !important;
//			pointer-events: none;
//			color: $color-accent;
//			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.41 10.71'%3E%3Ctitle%3Echecked%3C/title%3E%3Cpath d='M6.71,10.71a1,1,0,0,1-.71-.3l-6-6L1.41,3l5.3,5.29L15,0l1.41,1.41-9,9A1,1,0,0,1,6.71,10.71Z' fill='%23318431'/%3E%3C/svg%3E");
//			background-repeat: no-repeat;
//			background-position: calc(100% - #{microbe-rem(10)}) center;
//			background-size: microbe-rem(18);
//			width: calc(100% - #{microbe-rem(17)});
//
//			@include microbe-media($screen-vw) {
//				background-size: vw(18);
//				background-position: calc(100% - #{vw(10)}) center;
//				width: calc(100% - #{vw(17)});
//			}
//		}
//	}
//
//	&-search {
//		position: relative;
//		margin-bottom: microbe-rem(13);
//		padding: 0 !important;
//
//		@include microbe-media($screen-vw) {
//			margin-bottom: vw(13);
//		}
//
//		&__field {
//			height: microbe-rem(45);
//			border: 1px solid $color-border;
//			border-radius: microbe-rem(12);
//			outline: none !important;
//			caret-color: $color-accent;
//			padding: microbe-rem(4) microbe-rem(15) !important; // sass-lint:disable-line no-important
//			line-height: 1.4em;
//			font-size: microbe-rem(18);
//
//			@include microbe-media($screen-vw) {
//				height: vw(45);
//				border-radius: vw(12);
//				padding: vw(4) vw(15) !important; // sass-lint:disable-line no-important
//				font-size: vw(18) !important; // sass-lint:disable-line no-important
//			}
//
//			&:focus {
//				border: 1px solid $color-accent !important;
//			}
//		}
//	}
//}
