.mfp-bg {
	background-color: $color-text-4;
	opacity: 0;
	transition: opacity .2s ease-in-out;
	z-index: 2500 !important;

	&.mfp-ready {
		opacity: 0.7;
	}

	&.mfp-removing {
		opacity: 0;
	}
}

.mfp-wrap {
	z-index: 2500 !important;

	~ .select2-container {
		z-index: 2501;
	}
}

.mfp-container {
	padding-left: 0 !important;
	padding-right: 0 !important;

	@include microbe-media($breakpoint-xs) {
		padding-left: 6px;
		padding-right: 6px;
	}

	&.mfp-image-holder {
		padding: 0 30px !important;

		@include microbe-media($breakpoint-xs) {
			padding: 0 50px !important;
		}
	}

    .mfp-figure {
        img.mfp-img {
            padding: 0;
            margin-bottom: 30px;
            border-radius: 12px;
        }
    }
}

.mfp-close {
	cursor: pointer;
	width: microbe-rem(28) !important;
	height: microbe-rem(28) !important;
	right: microbe-rem(10) !important;
	top: microbe-rem(20) !important;
	padding: 0 !important;
	line-height: 1 !important;
	color: $color-text-4;
	transition: color .2s ease;
	display: flex;
	align-items: safe center;
	justify-content: center;
	z-index: 2;

	@include microbe-media($screen-vw) {
		width: vw(28) !important;
		height: vw(28) !important;
		right: vw(20) !important;
		top: vw(20) !important;
	}

	@media (hover: hover) {
	    &:hover {
			color: $color-accent;
		}

		&:active {
			color: $color-accent-darker;
		}
	}

    svg {
        position: initial;
	    fill: currentColor;
    }
}

.mfp-preloader {
	font-size: 0;

	&::after,
	&::before {
		content: '';
		box-sizing: inherit;
		position: absolute;
		z-index: 4;
		display: block;
		border: 4px solid $color-accent-darker;
		border-radius: 50%;
	}

	&:before {
		left: calc(50% - 30px);
		top: calc(50% - 30px);
		width: 60px;
		height: 60px;
		border-left-color: rgba(96, 188, 79, 0.001);
		border-bottom-width: 0;
		animation: rotating 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
	}

	&::after {
		left: calc(50% - 20px);
		top: calc(50% - 20px);
		width: 40px;
		height: 40px;
		border-right-width: 0;
		border-top-color: rgba(96, 188, 79, 0.001);
		animation: rotating 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite reverse;
	}
}

@keyframes rotating {
	0% {
		transform: rotate(0deg) translateZ(0);
	}

	to {
		transform: rotate(1turn) translateZ(0);
	}
}
