.popup {
	$this: &;

	max-width: microbe-rem(938);
	width: 100%;
	position: relative;
	background-color: #fff;
	overflow: hidden;
	margin: 0 auto;

	@include microbe-media($screen-vw) {
		max-width: vw(938);
	}

	&--theme-response {
		padding: microbe-rem(30);
		border-radius: microbe-rem(15);

		@include microbe-media($breakpoint-sm) {
			padding: microbe-rem(35) microbe-rem(50);
		}

		@include microbe-media($screen-vw) {
			padding: vw(40) vw(60);
			border-radius: vw(15);
		}

		#{$this}__text {
			padding-bottom: microbe-rem(20);
			font-size: microbe-rem(16);
			line-height: 1.4em;
			color: $color-text-4;
			text-align: center;

			@include microbe-media($screen-vw) {
				padding-bottom: vw(30);
			}
		}

		.mfp-close {
			height: microbe-rem(20) !important; // sass-lint:disable-line no-important
			width: microbe-rem(20) !important; // sass-lint:disable-line no-important

			@include microbe-media($screen-vw) {
				height: vw(20) !important; // sass-lint:disable-line no-important
				width: vw(20) !important; // sass-lint:disable-line no-important
			}
		}
	}

	&--theme-consultation {
		max-width: microbe-rem(640);
		padding: microbe-rem(25) microbe-rem(20) microbe-rem(30);
		background-color: $color-bg-light;
		border-radius: microbe-rem(5);

		@include microbe-media($breakpoint-ms) {
			padding: microbe-rem(40) microbe-rem(80) microbe-rem(50);
		}

		@include microbe-media($screen-vw) {
			max-width: vw(750);
			border-radius: vw(5);
			padding: vw(66) vw(170.5) vw(95);
		}

		#{$this}__title {
			font-size: microbe-rem(28);
			line-height: microbe-em(54, 48);
			font-weight: $font-weight-medium;
			color: $color-black;
			padding-bottom: microbe-rem(10);
			text-align: center;

			@include microbe-media($breakpoint-ms) {
				font-size: microbe-rem(36);
				padding-bottom: microbe-rem(20);
			}

			@include microbe-media($screen-vw) {
				padding-bottom: vw(20);
				font-size: vw(48);
			}
		}

		#{$this}__text {
			font-size: microbe-rem(14);
			line-height: microbe-em(30, 20);
			color: $color-black;
			text-align: center;
			padding-bottom: microbe-rem(20);

			@include microbe-media($breakpoint-ms) {
				font-size: microbe-rem(18);
				padding-bottom: microbe-rem(25);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(20);
				padding-bottom: vw(37);
			}
		}

		#{$this}__description {
			font-size: microbe-rem(12);
			line-height: 1.285em;
			color: rgba($color-black, .5);
			text-align: center;
			padding-top: microbe-rem(6);
			padding-bottom: microbe-rem(24);

			@include microbe-media($screen-vw) {
				font-size: vw(13);
				padding-top: vw(26);
				padding-bottom: vw(36);
			}
		}
	}

	&--theme-request {
		max-width: microbe-rem(1200);
		padding: microbe-rem(30) microbe-rem(20) microbe-rem(35);
		background-color: $color-bg-light;
		display: flex;
		flex-direction: column;
		align-items: safe center;
		color: $color-black;
		border-radius: microbe-rem(5);

		@include microbe-media($breakpoint-md) {
			padding: microbe-rem(50) microbe-rem(80) microbe-rem(60);
		}

		@include microbe-media($screen-vw) {
			max-width: vw(1200);
			padding: vw(66) vw(177) vw(76);
			border-radius: vw(5);
		}

		#{$this}__title {
			line-height: microbe-em(54, 48);
			font-weight: $font-weight-medium;
			font-size: microbe-rem(36);
			text-align: center;

			@include microbe-media($breakpoint-md) {
				font-size: microbe-rem(42);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(48);
			}
		}

		#{$this}__text {
			font-size: microbe-rem(16);
			line-height: microbe-em(30, 20);
			margin-top: microbe-rem(15);
			max-width: microbe-rem(350);
			text-align: center;

			@include microbe-media($breakpoint-md) {
				font-size: microbe-rem(18);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(20);
				margin-top: vw(20);
				max-width: vw(388);
			}
		}

		#{$this}__description {
			font-size: microbe-rem(11);
			color: rgba($color-black, .5);
			line-height: 1.29em;
			text-align: center;
			max-width: microbe-rem(400);
			margin-bottom: microbe-rem(26);

			@include microbe-media($screen-vw) {
				font-size: vw(13);
				max-width: vw(590);
				margin-bottom: vw(26);
			}
		}

		#{$this}__form {
			margin: microbe-rem(30) 0 0;

			@include microbe-media($screen-vw) {
				margin: vw(37) 0 0;
			}
		}
	}

	&--only-text {
		max-width: microbe-rem(800);
		padding: microbe-rem(20) microbe-rem(20) microbe-rem(20);
		background-color: $color-bg-light;
		border-radius: microbe-rem(5);

		@include microbe-media($breakpoint-ms) {
			padding: microbe-rem(20) microbe-rem(40) microbe-rem(25);
		}

		@include microbe-media($screen-vw) {
			max-width: vw(1000);
			border-radius: vw(5);
			padding: vw(33) vw(75) vw(45);
		}

		#{$this}__text {
			font-size: microbe-rem(14);
			line-height: microbe-em(30, 20);
			color: $color-black;
			text-align: center;
			padding-bottom: microbe-rem(20);

			@include microbe-media($breakpoint-ms) {
				font-size: microbe-rem(18);
				padding-bottom: microbe-rem(25);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(20);
				padding-bottom: vw(37);
			}

			a {
				text-decoration: none;
			}
		}
	}
}
