////
/// @group _settings/
////

@import '~microbe-ui/src/core/mixins/media';

// stylelint-disable declaration-no-important

/// @access private
/// @param {String} $mod [""] - название брейкпоинта с разделителем
@mixin _helpers-flex-generate($mod: '') {
	@for $i from 0 through 5 {
		._#{$mod}flex-order-#{$i} {
			order: $i !important;
		}
	}
}

/// Flex хелперы
/// @requires {mixin} media
/// @requires {mixin} _helpers-flex-generate
/// @param {Map} $screens [()] - карта брейкпоинтов, для которых нужно сделать хелперы
@mixin helpers-flex($screens: ()) {
	// создаем базовый набор
	@include _helpers-flex-generate();

	// создаем набор для медиа запросов
	@each $screen, $width in $screens {
		@include microbe-media($width) {
			@include _helpers-flex-generate($screen + '\\:');
		}
	}
}
