@import 'settings/webpack';
@import 'settings/font';

/* stylelint-disable declaration-colon-newline-after */

@font-face {
	font-family: 'TT Norms';
	src: url($STATIC_PATH + 'fonts/TTNorms-Regular.woff2') format('woff2'),
		url($STATIC_PATH + 'fonts/TTNorms-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url($STATIC_PATH + 'fonts/TTNorms-Italic.woff2') format('woff2'),
		url($STATIC_PATH + 'fonts/TTNorms-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url($STATIC_PATH + 'fonts/TTNorms-Light.woff2') format('woff2'),
		url($STATIC_PATH + 'fonts/TTNorms-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url($STATIC_PATH + 'fonts/TTNorms-LightItalic.woff2') format('woff2'),
		url($STATIC_PATH + 'fonts/TTNorms-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url($STATIC_PATH + 'fonts/TTNorms-Medium.woff2') format('woff2'),
		url($STATIC_PATH + 'fonts/TTNorms-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url($STATIC_PATH + 'fonts/TTNorms-MediumItalic.woff2') format('woff2'),
		url($STATIC_PATH + 'fonts/TTNorms-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url($STATIC_PATH + 'fonts/TTNorms-Bold.woff2') format('woff2'),
		url($STATIC_PATH + 'fonts/TTNorms-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms';
	src: url($STATIC_PATH + 'fonts/TTNorms-BoldItalic.woff2') format('woff2'),
		url($STATIC_PATH + 'fonts/TTNorms-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

